// colors

$red: #CC3333;
$black: #323232;
$blackDark: #000000;
$white: #FFFFFF;
$white3:rgb(244, 244, 244);
$white2: #F4F4F4;
$whiteDark: #B6B6B6;


//page withs

$max-width-1440: 1440px;
$max-width-1215: 1215px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-640: 640px;
$max-width-576: 576px;
$max-width-375: 375px;
// transitions
$transition: 0.3s;